.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__wrap {
  display: grid;
  grid-template-columns: 1fr 660px;
  gap: 85px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.about__content {
  padding-left: 60px;
  padding-top: 49px;

  @include vp-1199 {
    padding-left: 0;
  }

  h2 {
    margin: 0 0 25px;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }
  }

  h3 {
    margin: 0 0 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    @include vp-1199 {
      text-align: center;
    }
  }

  p {
    margin: 0 0 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about__picture-wrap {
  position: relative;
  align-self: start;

  img {
    @include vp-1199 {
      width: 678px;
      height: 345px;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  @include vp-767 {
    margin-right: -15px;
    margin-left: -15px;
  }
}
