.coaches {
  padding-top: 53px;
  padding-bottom: 140px;
  height: 100%;

  @include vp-1199 {
    padding-top: 51px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 71px;
  }
}

.coaches__wrap {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 678px;
    padding: 0 56px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 32px;
  }
}

.coaches__swiper {
  position: relative;

  &--nojs {
    overflow: visible;
  }
}

.coaches__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  &--nojs {
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;

    @include vp-1199 {
      justify-content: center;
    }
  }
}

.coaches h2 {
  margin-top: 0;
  margin-left: 2px;
  margin-bottom: 48px;
  font-family: $ff-alumni-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-left: -6px;
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.coaches__swiper-slide {
  position: relative;
  width: 260px;
  height: 294px;
  padding: 51px 20px 52px;
  color: $color-default-white;
  background-color: rgba($color-sapphire, 0.89);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include vp-1199 {
    width: 268px;
    padding: 53px 20px 51px;
  }

  @include vp-767 {
    min-width: 226px;
    max-width: 100%;
    height: 85.5vw;
    padding: 41px 10px 40px;
  }

  &:hover,
  &:focus {
    .coaches__swiper-image {
      z-index: -1;
    }

    .coaches__swiper-features {
      display: block;
    }

    p,
    span {
      display: block;
    }

    h3 {
      display: none;
    }
  }
}

.coaches__swiper-slide h3 {
  position: absolute;
  width: 160px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  bottom: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  z-index: 1;

  @include vp-1199 {
    left: 51%;
    bottom: 22px;
  }
}

.coaches__swiper-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coaches__swiper-slide p {
  display: none;
  margin: 0;
  margin-bottom: -2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;

  @include vp-1199 {
    margin-left: -9px;
    margin-bottom: -4px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: -3px;
  }
}

.coaches__swiper-slide span {
  display: none;
  margin-bottom: 32px;
  color: $color-spindle;
  text-align: center;

  @include vp-1199 {
    margin-left: -9px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 33px;
  }
}

.coaches__swiper-features {
  display: none;
  margin: 0;
  padding-left: 51px;
  list-style: none;

  @include vp-767 {
    padding-left: 40px;
  }
}

.coaches__swiper-feature {
  position: relative;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 150%;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -16px;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }
}

.coaches__button {
  display: block;
  position: absolute;
  top: 243px;
  width: 18px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-transparent;
  border: none;
  transition: opacity $trans-default;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    width: 44px;
    height: 44px;
    background-color: $color-transparent;
  }

  @include vp-1199 {
    top: 211px;
  }

  @include vp-767 {
    width: 12px;
    height: 21px;
    top: 58.5%;

    &::after {
      width: 40px;
      height: 40px;
      top: -9px;
      left: -14px;
    }
  }

  &--prev {
    left: -56px;
    background-image: url("../img/svg/arrow.svg");

    &::after {
      left: 0;
    }

    @include vp-1199 {
      left: -1px;
    }

    @include vp-767 {
      left: 0;
    }
  }

  &--next {
    right: -56px;
    background-image: url("../img/svg/arrow.svg");
    transform: rotate(180deg);

    &::after {
      right: 0;
    }

    @include vp-1199 {
      right: -1px;
    }

    @include vp-767 {
      right: 0;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &--nojs {
    display: none;
  }
}
