.contacts__wrapper {
  display: flex;
  gap: 62px;

  @include vp-1199 {
    gap: 0;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__wrap {
  padding: 54px 123px 66px;
  border-top: 1px solid $color-light-slate-grey;

  h2 {
    margin: 0 -3px 39px;
    font-weight: 600;
    font-family: $ff-alumni-sans;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
  }

  @include vp-1199 {
    padding: 61px 133px 62px;

    h2 {
      margin-left: 0;
      margin-bottom: 33px;
      font-size: 42px;
      line-height: 50px;
    }
  }

  @include vp-767 {
    padding: 64px 15px 64px;

    h2 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  dt {
    margin-bottom: 2px;
    font-weight: 700;
  }

  dd {
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    &:not(:last-of-type) {
      margin-bottom: 19px;
    }
  }

  &:nth-of-type(2n) {
    padding-left: 58px;
    border-left: 1px solid $color-light-slate-grey;
  }

  @include vp-1199 {
    dt {
      margin-bottom: 4px;
      font-size: 20px;
      line-height: 30px;
    }

    dd {
      font-size: 18px;
      line-height: 27px;

      &:not(:last-of-type) {
        margin-bottom: 21px;
      }
    }

    &:nth-of-type(2n) {
      padding-left: 48px;
    }

    &:nth-of-type(2n+1) {
      padding-right: 48px;
    }
  }

  @include vp-767 {
    width: 100%;

    &:nth-of-type(2n) {
      margin-top: 21px;
      padding-left: 0;
      border: none;
    }

    &:nth-of-type(2n+1) {
      padding-right: 0;
    }
  }
}
