.reviews {
  padding-top: 8px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 48px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 33px;
    padding-bottom: 70px;
  }
}

.reviews h2 {
  margin-top: 0;
  margin-left: 9px;
  margin-bottom: 37px;
  font-family: $ff-alumni-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    margin-left: -4px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-left: -2px;
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__wrap {
  position: relative;
  max-width: 672px;
  padding: 0 56px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 678px;
    padding: 0 56px;
  }

  @include vp-767 {
    width: 100%;
    padding: 0 32px;
  }
}

.reviews__swiper {
  width: 100%;
  box-shadow: 0 0 40px rgba($color-resolution-blue, 0.2);

  &--nojs {
    overflow: visible;
  }
}

.reviews__swiper-wrapper {
  &--nojs {
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
  }
}

.reviews__swiper-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 54px 62px 56px;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    padding: 54px 65px 56px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 48px 25px 33px;
  }
}

.reviews__swiper-inner {
  width: 80px;
  height: 80px;
  margin-top: 8px;
  background-color: rgba($color-sapphire, 0.89);
  border-radius: 50%;

  @include vp-767 {
    position: absolute;
    top: 32px;
    left: 41px;
    width: 68px;
    height: 68px;
  }
}

.reviews__swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: $color-default-white;

  @include vp-767 {
    width: 190px;
    margin-bottom: 23px;
    padding-left: 100px;
    line-height: 130%;
    text-align: left;
  }
}

.reviews__content p {
  width: 328px;
  margin: 0;
  line-height: 140%;
  color: $color-default-white;

  @include vp-767 {
    width: auto;
    text-align: center;
  }
}

.reviews__button {
  display: block;
  position: absolute;
  top: 206px;
  width: 18px;
  height: 34px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-transparent;
  transition: opacity $trans-default;
  cursor: pointer;
  z-index: 3;

  &:disabled,
  &:disabled:hover {
    opacity: 0.4;
  }

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -12px;
    width: 44px;
    height: 44px;
    background-color: $color-transparent;
  }

  @include vp-1199 {
    top: 194px;
  }

  @include vp-767 {
    top: 237px;
    width: 12px;
    height: 21px;

    &::after {
      width: 40px;
      height: 40px;
      top: -9px;
      left: -14px;
    }
  }

  &--prev {
    left: -1px;
    background-image: url("../img/svg/arrow.svg");

    @include vp-767 {
      left: 0;
      background-image: url("../img/svg/arrow.svg");
    }
  }

  &--next {
    right: -1px;
    background-image: url("../img/svg/arrow.svg");
    transform: rotate(180deg);

    @include vp-767 {
      right: 0;
      background-image: url("../img/svg/arrow.svg");
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &--nojs {
    display: none;
  }
}
