.video {
  position: relative;
  background-image: image-set(
    url("../img/about-video.jpg") 1x,
    url("../img/about-video@2x.jpg") 2x,
    url("../img/about-video.webp") 1x,
    url("../img/about-video@2x.webp") 2x
  );
  background-color: $color-chambray;
  padding-top: 62.63%;
  background-size: cover;

  @include vp-1199 {
    padding-top: 62.8%;
  }

  @include vp-767 {
    padding-top: 52.18%;
    background-image: image-set(
      url("../img/about-video-mobile.jpg") 1x,
      url("../img/about-video-mobile@2x.jpg") 2x,
      url("../img/about-video-mobile.webp") 1x,
      url("../img/about-video-mobile@2x.webp") 2x
    );
  }
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__button {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../img/svg/play-button.svg") no-repeat center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  &:hover {
    width: 107px;
    height: 107px;

    @include vp-1199 {
      width: 65px;
      height: 65px;
    }
  }
}
